/* Pengaturan margin dan padding default untuk elemen-elemen */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Latar belakang halaman utama */
body {
    background-image: url(For-Resume.jpg); /* Mengatur gambar latar belakang */
    background-size: cover; /* Menyesuaikan gambar latar belakang dengan ukuran window */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar latar belakang */
    background-attachment: fixed; /* Membekukan gambar latar belakang saat menggulir */
    margin: 0; /* Menghilangkan margin di sekitar body */
    height: 100vh; /* Mengatur tinggi body sebesar 100% dari viewport height */
}

/* Bagian header (navigasi) */
header {
    background-color: #333; /* Warna latar belakang header */
    color: white; /* Warna teks di header */
    display: flex;
    justify-content: space-between; /* Menyebarkan elemen di header secara merata */
    align-items: center; /* Menyelaraskan elemen secara vertikal di tengah */
    padding: 10px 20px; /* Padding atas dan bawah 10px, kiri dan kanan 20px */
 
}

/* Pengaturan tampilan teks dan gambar di navigasi */
.Navigation {
    display: flex;
    align-items: center;
}

.Navigation h1{
    font-size: 34px;/*Mengatur Ukuran Font*/
    color: aliceblue;/*Mengatur Warna Font*/
    font-family: 'Times New Roman', Times, serif;/* Jenis Fony uang digunakan*/
}
/* Pengaturan gambar di navigasi */
.Navigation img {
    max-width: 80px; /* Lebar maksimum gambar */
    height: auto; /* Tinggi gambar menyesuaikan proporsional */
    margin-right: 10px; /* Margin kanan untuk spasi */
}

/* Pengaturan daftar navigasi */
nav ul {
    list-style-type: none; /* Menghilangkan tanda bullet dari daftar */
}

nav ul li {
    display: inline; /* Membuat tautan sejajar */
    margin-left: 20px; /* Spasi antara tautan */
}

nav ul li:first-child {
    margin-left: 0; /* Menghilangkan margin kiri pada tautan pertama */
}

/* Pengaturan tautan navigasi */
nav ul li a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    color: white; /* Warna teks tautan */
    
}

/* Pengaturan font daftar navigasi */
ul li {
    font-size: 19px; /* Mengatur ukuran font */
    font-family: 'Times New Roman', Times, serif;/* Mengatur Jenis Font */
}
/* untuk mengatur tampilan tombol "Lihat" */
.view-button {
    padding: 5px 10px; /* Memberikan jarak padding pada tombol yang lebih kecil */
    font-size: 14px; /* Ukuran font tombol */
}

.view-button:hover {
    background-color: #007bffc5; /* Warna latar belakang tombol saat hover */
}

.view-button:active {
    box-shadow: 0 5px #007bff9a; /* Efek bayangan saat tombol ditekan */
    transform: translateY(4px); /* Pergeseran tombol ke bawah saat ditekan */
}
/*untuk mengatur tombol "Lihat" */
.view-button {
    padding: 10px 20px; /* Memberikan jarak padding pada tombol */
    background-color: #007bff; /* Warna latar belakang tombol */
    color: white; /* Warna teks pada tombol */
    border: none; /* Tanpa border */
    border-radius: 20px; /* Mengatur sudut melengkung pada tombol */
    cursor: pointer; /* Tampilan cursor menjadi tanda tangan saat diarahkan ke tombol */
    text-decoration: none; /* Tidak ada garis bawah pada teks tombol */
    display: block; /* Membuat tombol menjadi blok sehingga lebar dapat diatur */
    margin-top: 10px; /* Memberikan jarak dari atas */
    font-size: 17px;/* Ukuran font*/
}
.column-btn {
    flex: 1; /* Kolom akan mengambil ruang yang tersedia secara merata */
    text-align: center; /* Teks dalam kolom akan diatur rata tengah */
    max-width: 14%; /* Maksimum lebar kolom adalah 14% dari lebar kontainer */
    margin: 20px;/* Memberikan Jarak Margin Sekitar Button */ 
}
/* untuk mengatur tampilan baris (row) */
.row {
    display: flex; /* Menggunakan flexbox layout */
    justify-content: space-between; /* Membuat jarak ruang antara kolom seimbang */
    width: 100%; /* Lebar baris akan mengisi seluruh lebar kontainer */
}
/* Pengaturan halaman utama */
.main-container {
    display: flex; /* Menggunakan display flex untuk mengatur tata letak elemen */
    flex-direction: row; /* Tampilkan dalam satu baris */
}
/* Pengaturan kolom transparan di sebelah kiri */
.transparent-column  {
    background-color: rgba(0, 0, 0, 0.7); /* Warna latar belakang dengan opacity (70%) */
    width: 352px; /* Lebar kolom */
    height: fit-content; /* Tinggi kolom sesuai dengan tinggi kontennya */
    display: flex; /* Menggunakan flex container untuk mengelola kontennya */
    flex-direction: column; /* Kolom transparan ditampilkan sebagai kolom vertikal */
    justify-content: center; /* Kontennya disebar secara horizontal ke tengah */
    align-items: center; /* Kontennya diselaraskan secara vertikal ke tengah */
    text-align: left; /* Pusatkan teks secara horizontal ke kiri */
    color: white; /* Warna teks di dalam kolom */
    margin: 20px; /* Margin 20 piksel di sekeliling kolom */
    border-radius: 20px; /* Sudut kolom menjadi melengkung */
    padding: 8px; /* Padding 8 piksel di dalam kolom */
    position: sticky; /* Membuat elemen menempel saat discroll */
    top: 0; /* Elemen menempel di bagian atas saat discroll */
}
/* Pengaturan gambar di dalam kolom */
.transparent-column img {
    max-width: 80%; /* Lebar maksimum gambar di dalam kolom (80% dari kolom) */
    height: auto; /* Tinggi gambar menyesuaikan proporsionalnya */
}
/* Pengaturan resume di sebelah kanan */
.resume {
    width: 80%; /* Lebar resume mengambil 80% dari lebar konten */
    padding: 20px; /* Padding 20 piksel di dalam elemen resume */
    background-color: rgba(255, 255, 255, 0.5); /* Latar belakang resume dengan opacity (50%) */
    margin: 20px; /* Margin 20 piksel di sekeliling elemen resume */
    border-radius: 20px; /* Sudut elemen menjadi melengkung */
    text-align: justify; /* Pusatkan teks dalam elemen secara rata kanan-kiri */
}

